@font-face {
    font-family: RobotoMono-Regular;
    src: url(../fonts/roboto-mono/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: RobotoMono-Medium;
    src: url(../fonts/roboto-mono/RobotoMono-Medium.ttf);
}

@font-face {
    font-family: RobotoMono-Bold;
    src: url(../fonts/roboto-mono/RobotoMono-Bold.ttf);
}